<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        {{#each}}
          <li>{{#link-to 'nodes.node' this}}{{{name}}}{{/link-to}}</li>
        {{/each}}
      </ul>
    </div>
    <div class="col-md-10 main">
      {{outlet}}
    </div>
  </div>
</div>
